<div class="landing-page-container column">
    <h1 class="landing-page-header">Welcome to <br> Chipper</h1>
    <p class="landing-page-subtext">The social network for the dauntless.</p>
    <%= link_to  "Sign up", signup_path, class: 'hero-cta' %>
</div>