<h1>Hi <%=@user.name%></h1>
<p>Please reset your password with this link: <%= new_password_url(@user.reset_token, email: @user.email) %></p>

<p>If you did not request a password reset, please send us a mail at support@chipper-io.com</p>
