<% provide(:button_text, 'Send password reset instructions') %>

<div class="one-field-form column">
    <h1>Enter your email to get reset instructions</h1>
    <%= form_for(:reset, url: reset_path) do |f| %>
        <p>
            <%= f.email_field :email, placeholder:'Email address' %>
        </p>
        <p>
            <%= f.submit yield(:button_text)%> 
        </p>
    <% end %>
</div>