<% provide(:title, 'Users') %>
<h1 class = "admin-users-table-title center-aligned-text">Users</h1>

<table class="users-table row">
  <tr>
    <th class="users-table-header">Full name</th>
    <th class="users-table-header">Username</th>
    <th class="users-table-header">Email</th>
    <th class="users-table-header">Age</th>
    <th class="users-table-header">Nationality</th>
    <th class="users-table-header">Gender</th>
    <th class="users-table-header">View Profile</th>
    <th class="users-table-header">Edit User</th>
    <th class="users-table-header">Delete User</th>
  </tr>
  <%= render @user %>
  <%= will_paginate %>
</table>

<br>

<div class="new-admin-user-button-container row container">
  <%= link_to 'New User', signup_path, class: 'new-admin-user-button' %>
</div>
