<p id="notice"><%= notice %></p>

<div class="user-profile-header">
  <div class="header-image-container">
      <%= link_to 'Edit', edit_user_path(@user) %> |
  </div>

  <div class="user-profile-info">
    <div class="user-profile-image"></div>
    <div class="user-info">
        <p>
          <%= @user.username %>
        </p>
        <p>
          <%= @user.name %>
        </p>

    </div>
    <div class="followers-count"></div>
    <div class="following-count"></div>
  </div>

</div>

