%teal-button{
    background-color: teal;
    padding: .3em 1.2em;
    border-radius: .2em;
    color: white;
    border: none;
}

%background-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}