@import url('https://fonts.googleapis.com/css?family=Lato|Manjari|Muli|Nanum+Gothic|Roboto&display=swap');

$main-green: rgb(79, 163, 152);
$main-pink: rgb(255, 102, 128);
$round-button-radius: .2em;
$btn-font-size: .8em;
$border-btn-padding: .3em 1em;
$btn-padding: .4em 1em;
$btn-font: 'Muli', sans-serif;
$post-username-font-size: .8em;

%button-bg{
    padding: .3em 1.2em;
    border-radius: $round-button-radius;
    color: white;
    border: none;
    font-size: .8em;
    font-family: $btn-font;
}

%teal-button{
    @extend %button-bg;
    background-color: $main-green;
}



%background-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}