$main-green: rgb(79, 163, 152);

%button-bg{
    padding: .3em 1.2em;
    border-radius: .2em;
    color: white;
    border: none;
    font-size: .8em;
    font-family: 'Muli', sans-serif;
}

%teal-button{
    @extend %button-bg;
    background-color: $main-green;
}



%background-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}