
@import 'component_styles';

.landing-page-container{
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2em;
    .landing-page-header{
        font-size: 6em;
        color: rgb(34, 34, 34);
        line-height: 1em;
        font-family: 'Manjari', sans-serif;
    }
    
    .landing-page-subtext{
        margin: .3em 0 .4em 0;
        font-size: 2em;
        font-family: 'Manjari', sans-serif;
        color: $main-green;
    }
    
    .hero-cta{
        background-color: $main-pink;
        @extend %button-bg;
        padding: .5em 2em;
        font-size: 1em;
        transition: .5s;

        &:hover{
            background-color: rgb(56, 138, 138);
            text-decoration: none;
        }
    }
    
}


// Lato|Manjari|Muli