// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'component_styles';

.login-form-container{
    height: 100vh;
    width: 100%;
    align-items: center;

    .login-header-text{
        font-size: 2em;
        font-family: 'Manjari';
        color: $main-green;
    }
}