@import 'component_styles';



%navigation{
    padding: .9em 4em 0 4em;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    font-family: 'Lato';

    .logo{
        width: 120px;
    }

    .profile-btn{
        margin-right: 1em;
        border-radius: $round-button-radius;
        background-color: $main-pink;
        padding: $btn-padding;
        color: white;
        font-size: $btn-font-size;                                                                                                                                                                                                                                                                                                               
    }

    .nav-login-btn{
        border: 3px solid $main-pink;
        margin: 0 1em;
        padding: $border-btn-padding;
        font-size: $btn-font-size;
        border-radius: $round-button-radius;
    }

    .nav-signup-btn{
        font-size: $btn-font-size;
        background-color: $main-green;
        color: white;
        padding: $btn-padding;
        border-radius: $round-button-radius;
    }

    .logout-btn{
        font-size: $btn-font-size;
        border-radius: $round-button-radius;
        padding: $border-btn-padding;
        border: 3px solid rgb(43, 43, 43);
    }
}

.navigation{
    @extend %navigation;
}

.navigation-with--bg{
    @extend %navigation;
    background-color: white;
}

main{
    padding-top: 0em;
    box-sizing: border-box;
}

.center-aligned-text{
    text-align: center;
    font-family: 'Nanum', sans-serif;
}

.admin-users-table-title{
    font-size: 2em;
    padding: 4em 0 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.user-admin-data-form{
    width: 100%;
    justify-content: center;
    padding: 1em 0 0 0;
    font-family: 'Roboto', sans-serif;

    form{
        box-sizing: border-box;
        width: 30%;
    }

    input[type = "text"], input[type = "password"], input[type = "number"]{
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.274);
        padding: 0 .5em;
        height: 2em;
    }

    input[type = "submit"]{
        padding: .8em 0;
    }

    .field, input{
        width: 100%;
        border: none;
        margin: .4em 0;
    }

    .actions{
        input{
            @extend %teal-button;
        }
    }

    h5{
        margin: -.8em 0 0 0;
        font-size: .6em;
        color: teal;
    }
}

.new-admin-user-button-container{
    justify-content: flex-end;
    position: absolute;
    top: 7%;
    width:80%;
    font-family: 'Muli', sans-serif;
    font-size: .8em;
    .new-admin-user-button{
        padding: .1em .5em;
        margin-left: .8em; 
        @extend %teal-button;
    }
}

pre.debug_dump{
    border: 1px solid rgba(209, 209, 209, 0.596);
    border-radius: 1em;
    margin-top: 2em;
    font-size: .7em;
    width: 98%;
    background-color: rgba(230, 230, 230, 0.582);
    padding: 1em 1em;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.error-explanation{
    color: rgb(255, 68, 68);
}


.alert-container{
    justify-content: center;
    width: 100%;
    position: relative;
}

.alert{
    text-align: center;
    width: 40%;
    margin: 1em auto;
    padding: .2em 0;
    border-radius: .2em;
    position: absolute;
    top: 0;
    font-family: 'Nanum', sans-serif;
    font-size: .8em;
    z-index: 2;
}

.alert-success{
    background-color: rgba(16, 255, 163, 0.856);
    color: rgb(77, 77, 77);
}

.alert-danger{
    color: rgb(70, 0, 0);
    background-color: rgba(255, 52, 16, 0.856);
}


a:hover{
    text-decoration: none;
}