<% unless controller.action_name == 'new' %>
    <div class="nav-site-links">
        <%= link_to  "Home", root_path %>
    </div>
    <div class="nav-logo">

    </div>
    <div class="nav-user-actions">
        <% unless @current_user.nil? %>
            <%= link_to  "Logout", logout_path, method: :delete%> 
        <% end %>
        <% unless logged_in? %>
            <%= link_to  "Login", login_path %>
            <%= link_to  "Sign up", signup_path %>
        <% end %>
    </div>
<% end %>